<div class="row my-2">
    <div class="col-3 d-flex justify-content-end align-items-center">
        <div>
            <img src="./../../../assets/beer.jpg" alt="" class="imagen rounded">
        </div>
    </div>
    <div class="col-9 d-flex align-items-center">
        <div>
            <div class="row">
                <p class="beer m-0">Pale Ale</p>
            </div>
            <div class="row">
                <div class="desc d-flex justify-content-between">
                    <p class="m-0">AA 4.5% - IBU 30</p>
                    <p>Pinta: $700</p>
                </div>
                <div class="details">
                    <p class="">Rubia con amargor medio, espuma liviana. Estilo Inglés, clásico.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row my-2">
    <div class="col-3 d-flex justify-content-end align-items-center">
        <div>
            <img src="./../../../assets/beer.jpg" alt="" class="imagen rounded">
        </div>
    </div>
    <div class="col-9 d-flex align-items-center">
        <div>
            <div class="row">
                <p class="beer m-0">Pale Ale</p>
            </div>
            <div class="row">
                <div class="desc d-flex justify-content-between">
                    <p class="m-0">AA 4.5% - IBU 30</p>
                    <p>Pinta: $700</p>
                </div>
                <div class="details">
                    <p class="">Rubia con amargor medio, espuma liviana. Estilo Inglés, clásico.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row my-2">
    <div class="col-3 d-flex justify-content-end align-items-center">
        <div>
            <img src="./../../../assets/beer.jpg" alt="" class="imagen rounded">
        </div>
    </div>
    <div class="col-9 d-flex align-items-center">
        <div>
            <div class="row">
                <p class="beer m-0">Pale Ale</p>
            </div>
            <div class="row">
                <div class="desc d-flex justify-content-between">
                    <p class="m-0">AA 4.5% - IBU 30</p>
                    <p>Pinta: $700</p>
                </div>
                <div class="details">
                    <p class="">Rubia con amargor medio, espuma liviana. Estilo Inglés, clásico.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
