<div class="row">
    <div class="d-flex col-lg-6" *ngFor="let e of bebidas">
        <div class="col-6 d-flex justify-content-center my-2">
            <img src="{{e.imgUrl}}" class="rounded-5" width="60%">
        </div>
        <div class="col-lg-6 d-flex align-items-center">
            <div>
                <div class="title">
                    <p class="name m-0 text-uppercase">{{e.name}}</p>
                </div>
                <div class="details">
                    <p>{{e.datails}}</p>
                </div>
                <div class="cost">
                    <p class="desc">Precio: {{e.cost}}</p>
                </div>
            </div>
        </div>
    </div>
</div>