<div class="row justify-content-end">
    <div class="col-lg-6">
        <div class="contenedor">
            <article>
                <h3>Acerca de Nosotros</h3>
                <p>Idealizar nuestros sueños y metas es lo que nos hace sentir que estamos en constante crecimiento. <span class="fw-bold">Bejas Estación de Cervezas</span>, es una de ellas. La Cerveza artesanal, se convirtió en una pasión para nosotros, y con ello el deseo de compartir este gusto con nuestros amigos, familiares y todo el público. Nuestro objetivo es ofrecer un espacio y/o punto de recarga de cervezas elaboradas con ingredientes naturales de la más alta calidad, gusto y aroma al paladar, resultando una bebida artesanal ideal para degustar y compartir. El 29 de octubre del 2021 comenzó este espacio, que nos ha llevado no solo a compartir un vaso de cerveza, sino a vivir momentos de alegría, complicidad y disfrute, motivados cada día en seguir escribiendo historias en este camino.</p>
            </article>
        </div>
    </div>
</div>
